[submodule "packages/backend/Foundry/lib/chainlink-brownie-contracts"]
	path = packages/backend/Foundry/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
